$form-background-color1: #f4f4f4;
$form-background-color2: #f8f8f8;
$input-border-color: #c6c6c6;
$text-color: #afafaf;
$input-icon-color: #dedede;

$button-bgc-color: #93d02b;
$button-border-color: #3b9a00;
$button-shadow-color: #51850e;

$button-bgc-green-white: #c6e1a7;
$button-border-green-white:#90ca6d;

$button-bgc-red:#f55f71;
$button-border-red: #a2202a;

// checkbox colors
$checkbox-gradient-1: #71b80d;
$checkbox-gradient-2: #9ad123;
$white: #fff;


// Form Wrapper colors
$form-wrapper-shadow-color: rgba(0, 0, 0, 0.23);
$form-wrapper-title-color: rgba(43, 1, 0, 0.75);